@font-face {
    font-family: MontserratLight;
    src: url(fonts/Montserrat-Light.otf);
    font-weight: 700;
}

@font-face {
    font-family: MontserratBold;
    src: url(fonts/Montserrat-Bold.otf);
}

@font-face {
    font-family: CardoRegular;
    src: url(fonts/Cardo-Regular.ttf);
}

@font-face {
    font-family: CardoBold;
    src: url(fonts/Cardo-Bold.ttf);
}

@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?wn0jib');
    src:    url('fonts/icomoon.eot?wn0jib#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?wn0jib') format('truetype'),
        url('fonts/icomoon.woff?wn0jib') format('woff'),
        url('fonts/icomoon.svg?wn0jib#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-home3:before {
    content: "\e900";
}
.icon-newspaper:before {
    content: "\e901";
}
.icon-pencil2:before {
    content: "\e902";
}
.icon-camera:before {
    content: "\e903";
}
.icon-music:before {
    content: "\e904";
}
.icon-play:before {
    content: "\e905";
}
.icon-film:before {
    content: "\e906";
}
.icon-pacman:before {
    content: "\e907";
}
.icon-books:before {
    content: "\e908";
}
.icon-profile:before {
    content: "\e937";
}
.icon-envelop:before {
    content: "\e909";
}
.icon-compass:before {
    content: "\e90a";
}
.icon-calendar:before {
    content: "\e90b";
}
.icon-display:before {
    content: "\e90c";
}
.icon-laptop:before {
    content: "\e90d";
}
.icon-mobile:before {
    content: "\e90e";
}
.icon-tablet:before {
    content: "\e90f";
}
.icon-tv:before {
    content: "\e910";
}
.icon-drive:before {
    content: "\e911";
}
.icon-bubble:before {
    content: "\e912";
}
.icon-quotes-left:before {
    content: "\e913";
}
.icon-quotes-right:before {
    content: "\e914";
}
.icon-search:before {
    content: "\e915";
}
.icon-zoom-in:before {
    content: "\e916";
}
.icon-zoom-out:before {
    content: "\e917";
}
.icon-trophy:before {
    content: "\e918";
}
.icon-mug:before {
    content: "\e919";
}
.icon-spoon-knife:before {
    content: "\e91a";
}
.icon-airplane:before {
    content: "\e91b";
}
.icon-sphere:before {
    content: "\e91c";
}
.icon-earth:before {
    content: "\e91d";
}
.icon-link:before {
    content: "\e91e";
}
.icon-bookmark:before {
    content: "\e91f";
}
.icon-happy:before {
    content: "\e920";
}
.icon-sad:before {
    content: "\e921";
}
.icon-grin:before {
    content: "\e922";
}
.icon-angry:before {
    content: "\e923";
}
.icon-wondering:before {
    content: "\e924";
}
.icon-checkbox-checked:before {
    content: "\e925";
}
.icon-checkbox-unchecked:before {
    content: "\e926";
}
.icon-embed2:before {
    content: "\e927";
}
.icon-mail2:before {
    content: "\e928";
}
.icon-facebook2:before {
    content: "\e929";
}
.icon-instagram:before {
    content: "\e92a";
}
.icon-spotify:before {
    content: "\e92b";
}
.icon-twitter:before {
    content: "\e92c";
}
.icon-youtube:before {
    content: "\e92d";
}
.icon-twitch:before {
    content: "\e92e";
}
.icon-dribbble:before {
    content: "\e92f";
}
.icon-steam2:before {
    content: "\e930";
}
.icon-github:before {
    content: "\e931";
}
.icon-windows8:before {
    content: "\e932";
}
.icon-skype:before {
    content: "\e933";
}
.icon-reddit:before {
    content: "\e934";
}
.icon-linkedin:before {
    content: "\e935";
}
.icon-pinterest:before {
    content: "\e936";
}
