#profile-content {
  width: 100%;
  text-align: center;
}

#profile h2 {
  margin-left: -10%;
}

#profile h3 {
  margin-top: -20px;
  margin-left: 20%;
}

#profile-pic {
  width: 160px;
  height: 160px;
  border-radius: 50%;
}

#intro h3 {
  font-family: 'CardoBold', Arial, sans-serif;
  font-size: 26px;
  color: #37474f;
}

#intro ul {
  font-family: 'CardoRegular', Arial, sans-serif;
  font-size: 18px;
  color: #787878;
  list-style-type: circle;
  list-style-position: inside;
}

#intro ul li {
  margin-top: 10px;
}
