#profile-content {
  width: 100%;
  text-align: center;
}

#profile-content hr {
  width: 50%;
  margin-left: 25%;
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(55, 71, 79, 0.75), rgba(0, 0, 0, 0));
}

#profile h2 {
  font-family: 'MontserratBold', Arial, sans-serif;
  font-size: 60px;
  margin-left: -10%;
  color: #787878;
}

#profile h3 {
  font-family: 'MontserratLight', Arial, sans-serif;
  font-size: 30px;
  margin-top: -20px;
  margin-left: 20%;
  color: #787878;
}

#profile-pic {
  width: 160px;
  height: 160px;
  border-radius: 50%;
}

#intro h3 {
  font-family: 'CardoBold', Arial, sans-serif;
  font-size: 26px;
  color: #37474f;
}

#intro ul {
  font-family: 'CardoRegular', Arial, sans-serif;
  font-size: 18px;
  color: #787878;
}

#intro ul li {
  margin-top: 10px;
}

.colored {
  color: #37474f;
}
