#projects-content {
  margin-top: 20px;
}

#projects-list h3, #papers-list h3 {
  text-align: center;
}

#projects-list ul li {
  margin-top: 5px;
}

.project-name {
  font-family: 'MontserratBold', Arial, sans-serif;
  color: #787878;
}

.project-link, .paper-name {
  font-family: 'MontserratBold', Arial, sans-serif;
  color: #37474f;
}

.project-description, .paper-conference {
  font-family: 'CardoRegular', Arial, sans-serif;
  color: #787878;
}

#papers-list ul li {
  margin-top: 3px;
}
