<!DOCTYPE html>
<html ng-app="nfcom">
  <head>
    <title>Welcome to Noel's Site</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- external scripts -->
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/bower_components/foundation-apps/dist/js/foundation-apps.min.js"></script>
    <script src="/bower_components/foundation-apps/dist/js/foundation-apps-templates.min.js"></script>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>

    <!-- css -->
    <link rel="stylesheet" type="text/css" href="/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/bower_components/foundation-apps/dist/css/foundation-apps.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/css/profile.css" />
    <link rel="stylesheet" type="text/css" href="/css/projects.css" />
    <link rel="stylesheet" type="text/css" href="/css/project-detail.css" />

  </head>
  <body ng-controller="mainController">
    <div class="container">
      <div class="group">
        <div class="social-links grid-block align-center">
          <ul>
            <li ng-repeat="link in socialLinks">
              <a ng-href="{{ link.link }}"><span class="{{ link.icon }}"></span></a>
            </li>
          </ul>
        </div>
      </div>
      <!-- view to be routed to from ui-router -->
      <div class="group">
        <div class="content align-center grid-block" ui-view></div>
      </div>
      <hr />
      <!-- contains the menu -->
      <div class="group">
        <div id="menu" class="align-center grid-block">
          <ul id="mainMenu">
            <li><a ui-sref-active="active" ui-sref="home">
              <button name="home" class="menu-button main-menu-button icon-home3" id="homeButton">
                <span>Home</span>
              </button>
            </a></li>
            <li>
              <button name="projects" class="menu-button main-menu-button icon-embed2" id="projectsButton">
                <span>Projects</span>
              </button>
            </li>
          </ul>
          <div id="hiddenProjects">
            <ul id="projectsMenu">
              <li ng-repeat="project in projects">
                <a ui-sref="projectDetail({projectname:'{{ project.link }}'})" ui-sref-active="active">
                  <button name="{{ project.link }}" class="menu-button projects-menu-button {{ project.icon }}">
                    <span>{{ project.name }}</span>
                  </button>
                </a>
              </li>
              <li>
                <a ui-sref="projects" ui-sref-active="active">
                  <button name="projects" class="menu-button projects-menu-button icon-drive">
                    <span>All Projects</span>
                  </button>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- load own scripts -->
    <script src="/scripts/settings.js"></script>
    <script src="/scripts/app.js"></script>
    <script src="/scripts/services/httpFactory.js"></script>
    <script src="/scripts/services/currentlyFactory.js"></script>
    <script src="/scripts/mainController.js"></script>
    <script src="/scripts/projectsController.js"></script>
    <script src="/scripts/projectDetailsController.js"></script>
    <script src="/scripts/animations.js"></script>
  </body>
</html>
