<div id="profile-content">
  <div id="profile">
    <h2>My Name is <span class="colored">Noel</span>,</h2>
    <h3>and I <span class="colored">develop software</span>.</h3>
    <img id="profile-pic" src="/images/pic.png" />
  </div>
  <hr />
  <div id="intro">
    <h3>Basically, I</h3>
    <ul>
      <li>am a software developer, who has so far worked mostly with mobile and web</li>
      <li>graduated from University of Victoria with an MSc in CSC</li>
      <li>really love technology that can make lives and learning easier or more fun</li>
      <li>am Filipino and am exactly x years y days old</li>
      <li>enjoy meeting, learning about, and working with people. So get in touch!</li>
    </ul>
  </div>
  <hr />
</div>

<!--
movie: Star Wars Series
tv show: Pokemon X
music: Macklemore & Ryan Lewis
book: Archie Comics
game: Bloodborne
team: Cloud 9
 -->
